In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.metrics import mean_squared_error

In [ ]:
data_org = pd.read_csv("/content/drive/MyDrive/2022-1/2022-1 DScover/01. 태양광 프로젝트/태양광 프로젝트!/merged_final.csv")
data = data_org.copy()
data.head()

,area,date,generation,avgTa,avgWs,avgRhm,ssDur,sumSsHr,sumGsr,avgTca,PM10,PM25
0,강원도,2016-01-01,144.042204,5.1,4.8,33.0,9.6,8.8,10.92,0.8,35.666667,27.298611
1,강원도,2016-01-02,109.358713,9.1,4.9,43.8,9.6,8.7,10.06,0.8,37.916667,26.375000
2,강원도,2016-01-03,156.699494,9.0,2.6,55.8,9.6,7.2,8.68,0.8,58.944444,44.354167
3,강원도,2016-01-04,225.889445,7.4,3.4,33.8,9.6,8.4,9.63,0.8,71.569444,51.819444
4,강원도,2016-01-05,208.994071,3.0,3.7,16.3,9.7,7.6,10.03,0.8,21.222222,11.618056

In [ ]:
data['day'] = data['date'].str.split('-').str[2]
data['month'] = data['date'].str.split('-').str[1]
data['year'] = data['date'].str.split('-').str[0]

In [ ]:
data

,area,date,generation,avgTa,avgWs,avgRhm,ssDur,sumSsHr,sumGsr,avgTca,PM10,PM25,day,month,year
0,강원도,2016-01-01,144.042204,5.1,4.8,33.0,9.6,8.8,10.92,0.8,35.666667,27.298611,01,01,2016
1,강원도,2016-01-02,109.358713,9.1,4.9,43.8,9.6,8.7,10.06,0.8,37.916667,26.375000,02,01,2016
2,강원도,2016-01-03,156.699494,9.0,2.6,55.8,9.6,7.2,8.68,0.8,58.944444,44.354167,03,01,2016
3,강원도,2016-01-04,225.889445,7.4,3.4,33.8,9.6,8.4,9.63,0.8,71.569444,51.819444,04,01,2016
4,강원도,2016-01-05,208.994071,3.0,3.7,16.3,9.7,7.6,10.03,0.8,21.222222,11.618056,05,01,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31054,충청북도,2020-12-27,358.571642,4.0,0.4,71.8,9.7,6.0,7.13,6.3,76.569444,46.486111,27,12,2020
31055,충청북도,2020-12-28,522.077773,5.5,0.6,65.3,9.7,4.8,8.28,2.8,62.888889,37.416667,28,12,2020
31056,충청북도,2020-12-29,259.582754,0.8,1.5,78.5,9.7,0.1,2.58,8.1,60.722222,40.472222,29,12,2020
31057,충청북도,2020-12-30,313.823539,-8.8,2.4,71.1,9.7,4.2,4.46,6.8,31.680556,14.611111,30,12,2020
31058,충청북도,2020-12-31,459.096108,-8.6,1.2,62.8,9.7,5.7,11.06,4.6,24.208333,11.208333,31,12,2020

In [ ]:
def area_mean(item) : 
  df = data[data.area == item]
  df = df.drop(['area', 'date', 'generation','day','year'], axis=1)
  df = df.groupby(['month'])['avgTa','avgWs','avgRhm','ssDur','sumSsHr','sumGsr','avgTca','PM10','PM25'].mean()
  print("{}".format(item))
  return df

In [ ]:
area_mean('세종시')
# 위 함수에 원하는 지역 이름을 입력하면 해당 지역의 월별 5년치 평균 데이터를 data frame으로 봔환
# ['강원도', '경기도','경상남도','경상북도','광주시','대구시','대전시','부산시','서울시','세종시','울산시','인천시','전라남도','전라북도','제주도','충청남도','충청북도']

세종시

,avgTa,avgWs,avgRhm,ssDur,sumSsHr,sumGsr,avgTca,PM10,PM25
month,,,,,,,,,
01,-0.593548,1.335484,58.165806,9.979355,5.990968,8.352000,4.741290,54.763743,35.593350
02,1.309859,1.445775,54.229577,10.855634,7.127465,11.468662,4.428873,50.298892,34.803927
03,7.780645,1.570968,51.231613,11.975484,7.431935,14.956710,4.220000,56.040860,37.319275
04,13.668000,1.790667,50.240000,13.141333,8.103333,18.478733,4.505333,51.264514,23.039984
05,19.692258,1.734194,53.754194,14.129032,8.829032,21.412774,4.780000,48.030746,22.346632
06,23.679333,1.646667,59.577333,14.644000,7.862000,20.742533,5.518000,37.702697,20.417975
07,26.416774,1.603871,72.345161,14.390968,5.654839,16.278323,7.034839,26.397659,14.980399
08,27.582581,1.630968,68.601290,13.535484,6.682581,16.938258,6.090323,27.588687,15.246360
09,21.971333,1.566667,67.859333,12.420667,6.280667,14.503733,5.806000,28.981644,14.258449
10,15.207742,1.377419,64.423871,11.260000,6.552903,12.244516,4.600645,35.347547,16.996174
11,7.773333,1.175333,60.973333,10.246000,6.324000,9.187867,4.084000,49.057500,25.879926
12,0.943871,1.278065,59.108387,9.727097,5.718710,7.684065,4.412258,48.030141,27.776142